<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Wybory</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Przeglądaj listę zaplanowanych wyborów
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Typ</th>
                            <th>Data głosowania</th>
                            <th>Data utworzenia</th>
                            <th>Twórca</th>
                            <th>Operacje</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="wybory : ${wyboryList}">
                            <td th:text="${wybory.id}"></td>
                            <td th:text="${wybory.typWyborow.nazwa}"></td>
                            <td th:text="${wybory.dataGlosowania}"></td>
                            <td th:text="${wybory.dataUtworzenia}"></td>
                            <td th:text="${wybory.tworca.login}"></td>
                            <td><a th:href="@{/user/edit(id=${wybory.id})}" class="btn btn-outline btn-primary" title="Edytuj"><i class="fa fa-pencil"></i></a>  <a th:href="@{/user/delete(id=${wybory.id})}" class="btn btn-outline btn-danger" title="Usuń"><i class="fa fa-minus-circle"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>