<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Wybory</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div th:if="${edit != null and !edit}" class="panel-heading">
                Zaplanuj nowe wybory lub referendum
            </div>
            <div th:if="${edit != null and edit}" class="panel-heading">
                Edytuj wybory lub referendum
            </div>
            <div class="panel-body">
                <div class="alert alert-success">
                    Zaplanowane wybory zostały zapisane.
                </div>
                <a th:href="@{/election/browse}" class="btn btn-default">Przeglądaj wybory</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>