<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Kontakt</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                Kontakt z urzędnikiem
            </div>
            <div th:if="${error != null and error}" class="panel-body">
                <div class="alert alert-danger">
                    Przepraszamy. Nie ma obecnie urzędnika, który mógłby obsłużyc twoje zapytanie.
                </div>
            </div>
            <div th:if="${success != null and success}" class="panel-body">
                <div class="alert alert-success">
                    Wiadomość została wysłana. Dziękujemy.
                </div>
            </div>
            <div th:if="${success == null}" class="panel-body">
                <form th:object="${kontakt}" method="post">
                    <div class="form-group" th:classappend="${#fields.hasErrors('nazwa')} ? 'has-error'">
                        <label for="nazwa">Imię i nazwisko</label>
                        <input type="text" class="form-control" th:field="*{nazwa}" />
                        <span th:if="${#fields.hasErrors('nazwa')}" th:errors="*{nazwa}" id="nazwa-error" class="help-block">nazwa Error</span>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" th:field="*{email}" />
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="email-error" class="help-block">Email Error</span>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('temat')} ? 'has-error'">
                        <label for="temat">Temat</label>
                        <input type="text" class="form-control" th:field="*{temat}" />
                        <span th:if="${#fields.hasErrors('temat')}" th:errors="*{temat}" id="temat-error" class="help-block">temat Error</span>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('wiadomosc')} ? 'has-error'">
                        <label for="wiadomosc">Wiadomość</label>
                        <textarea type="text" class="form-control" th:field="*{wiadomosc}"></textarea>
                        <span th:if="${#fields.hasErrors('wiadomosc')}" th:errors="*{wiadomosc}" id="wiadomosc-error" class="help-block">wiadomosc Error</span>
                    </div>
                    <button type="submit" class="btn btn-success">Wyślij</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>