<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Wyniki</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Liczba posłów
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-perfect-fourth" id="wykres"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Frekwencja
            </div>
            <div class="panel-body">
                <div class="ct-chart ct-perfect-fourth" id="frekwencja"></div>
            </div>
            <div class="panel-footer">
                Frekwencja w kraju: <strong th:text="${frekwencja[0]}"></strong>%
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Rozkład mandatów w Sejmie</div>
            <div class="panel-body">
                <div id="sejm"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Lista komitetów
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa</th>
                        <th>Liczba posłów</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="komitet : ${komitety}">
                        <td>
                            <span th:text="${komitet.numer}"></span>
                            <span th:style="'color: ' + ${komitet.kolor}">&#x2b24;</span>
                        </td>
                        <td th:text="${komitet.nazwa}"></td>
                        <td th:text="${komitet.liczbaPoslow}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var komitety = /*[[${komitety}]]*/ [];

    (function narysujRozkladMiejsc() {
        var allSeatsCount = 400;

        var seatColors = [];
        for (var partyNumber = 0; partyNumber < komitety.length; partyNumber++) {
            var seatsForParty = komitety[partyNumber].liczbaPoslow;
            for (var seat = 0; seat < seatsForParty; seat++) {
                seatColors.push(komitety[partyNumber].kolor);
            }
        }
        var emptySeats = allSeatsCount - seatColors.length;
        for (var seat = 0; seat < emptySeats; seat++) {
            seatColors.push('gray');
        }

        var rows = 10;
        var columns = allSeatsCount / rows - 1;
        var canvasWidth = 1008;
        var canvasHeight = 600;

        var seatRadius = 6;

        var startPointX = canvasWidth / 2;
        var startPointY = canvasHeight - seatRadius;

        var lineLength = startPointX - seatRadius;
        var sceneRadius = 200;

        var canvas = Raphael("sejm");
        canvas.setViewBox(0, 0, canvasWidth, canvasHeight);

        var svg = document.querySelector("#sejm svg");
        svg.removeAttribute("width");
        svg.removeAttribute("height");

        for (var column = 0; column <= columns; column++) {
            var sinAlpha = Math.sin(Math.PI * column / columns);
            var cosAlpha = Math.cos(Math.PI * column / columns);

            for (var seatRow = 0; seatRow < rows; seatRow++) {
                var distanceFromCenter = (lineLength - sceneRadius) / rows * seatRow + sceneRadius;
                var seatX = startPointX - (distanceFromCenter) * cosAlpha;
                var seatY = startPointY - (distanceFromCenter) * sinAlpha;
                var seat = canvas.circle(seatX, seatY, seatRadius);
                seat.attr({
                    fill: seatColors[column * rows + seatRow],
                    "stroke-width": "0"
                });
            }
        }
    }());

    var frekwencja =
    {
        series: /*[[${frekwencja}]]*/ [50, 50]
    };

    new Chartist.Pie('#frekwencja', frekwencja,
            {
                donut: true
            });


    var kolory = [];
    var sumaMandatow = 0;
    for(var komitet = 0; komitet < komitety.length; komitet++) {
        kolory.push(komitety[komitet].kolor);
        sumaMandatow += komitety[komitet].liczbaPoslow;
    }
    var nrKomitetu = 0;
    new Morris.Bar({
        element: 'wykres',
        data: komitety,
        xkey: 'nazwa',
        ykeys: ['liczbaPoslow'],
        labels: ['Liczba mandatów'],
        resize: true,
        stacked: true,
        barColors: function (row, series, type) {
            if(type == 'label') {
                nrKomitetu = 0;
                return '#337ab7';
            }

            return kolory[nrKomitetu++];
        },
        hoverCallback: function (index, options, content, row) {
            return content
                    + "<div class='morris-hover-point'>Procent mandatów: "
                    + (row.liczbaPoslow / sumaMandatow * 100).toFixed(2)
                    + "%</div>";
        }
    });
    /*]]>*/
</script>
</body>
</html>