<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
<h1>Wybory</h1>
<div class="well">
    <h2>Dodaj</h2>

    <form th:action="@{/election/add}" method="post">
        <div class="form-group">
            <label for="electionType">Typ</label>
            <select class="form-control" id="electionType" name="electionType">
                <option>Parlamentarne</option>
                <option>Prezydenckie</option>
                <option>Referendum</option>
            </select>
        </div>
        <div class="form-group">
            <label for="votingDate">Data głosowania</label>
            <input type="date" class="form-control" id="votingDate" name="votingDate" />
        </div>
        <button type="submit" class="btn btn-default">Dodaj</button>
    </form>
</div>
</body>
</html>