<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>System wyborczy</title>

    <!-- Bootstrap Core CSS -->
    <link href="/template/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- MetisMenu CSS -->
    <link href="/template/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="/template/dist/css/sb-admin-2.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="/template/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" />
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    <link rel="stylesheet" href="/template/bower_components/morrisjs/morris.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="/template/bower_components/jquery/dist/jquery.min.js"></script>

    <script src="/template/bower_components/raphael/raphael-min.js"></script>
    <script src="/template/bower_components/morrisjs/morris.min.js"></script>
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/panel/}">System wyborczy</a>
        </div>
        <!-- /.navbar-header -->

        <ul sec:authorize="isAuthenticated()" class="nav navbar-top-links navbar-right">
            <span style="color: #777; font-size: 12px;">Zalogowany jako: <b><span sec:authentication="name">User</span></b>. Poziom uprawnień: <b><span sec:authorize="hasAuthority('ADMINISTRATOR')">Administrator</span><span sec:authorize="hasAuthority('CZLONEK_OKW')">Czlonek OKW</span><span sec:authorize="hasAuthority('CZLONEK_PKW')">Czlonek PKW</span></b>.</span>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a th:href="@{/panel/ustawienia}"><i class="fa fa-cog fa-fw"></i> Ustawienia</a>
                    <li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Wyloguj się</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>

        <div sec:authorize="isAnonymous()" class="nav navbar-top-links navbar-right">
            <li>
                <a th:href="@{/panel/login}"><span class="fa fa-sign-in"></span> Logowanie</a>
            </li>
        </div>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li th:class="${view} == 'home' ? active">
                        <a th:href="@{/panel/}" th:class="${view} == 'home' ? active"><i class="fa fa-home fa-fw"></i> Strona główna</a>
                    </li>
                    <li sec:authorize-url="/panel/wybory" th:class="${#strings.contains(view, 'wybory')} ? active">
                        <a href="#"><i class="fa fa-gavel fa-fw"></i> Wybory<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a th:href="@{/panel/wybory}" th:class="${view} == 'wybory/index' ? active">Przeglądaj</a>
                            </li>
                            <li>
                                <a th:href="@{/panel/wybory/dodaj}" th:class="${view} == 'wybory/dodaj' ? active">Zaplanuj</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li sec:authorize-url="/panel/uzytkownik" th:class="${#strings.contains(view, 'uzytkownik')} ? active">
                        <a href="#"><i class="fa fa-users fa-fw"></i> Użytkownicy<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a th:href="@{/panel/uzytkownik}" th:class="${view} == 'uzytkownik/index' ? active">Przeglądaj</a>
                            </li>
                            <li>
                                <a th:href="@{/panel/uzytkownik/dodaj}" th:class="${view} == 'uzytkownik/dodaj' ? active">Dodaj</a>
                            </li>
                            <li>
                                <a th:href="@{/panel/uzytkownik/historia}" th:class="${view} == 'uzytkownik/historia' ? active">Historia logowań</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li sec:authorize-url="/panel/komisje" th:class="${#strings.contains(view, 'komisje')} ? active">
                        <a href="#"><i class="fa fa-university fa-fw"></i> Komisje i okręgi<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a th:href="@{/panel/komisje}" th:class="${view} == 'komisje' ? active">Przeglądaj</a>
                            </li>
                            <li>
                                <a th:href="@{/panel/komisje/okregi/dodaj}" th:class="${view} == 'komisje/okregi/dodaj' ? active">Dodaj okręg</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li sec:authorize-url="/panel/protokoly" th:class="${#strings.contains(view, 'protokoly')} ? active">
                        <a href="#"><i class="fa fa-envelope fa-fw"></i> Protokoły<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a th:href="@{/panel/protokoly}" th:class="${view} == 'protokoly/index' ? active">Wyślij protokół</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li th:class="${#strings.contains(view, 'wyniki')} ? active">
                        <a th:href="@{/panel/wyniki}" th:class="${view} == 'wyniki/index' ? active"><i class="fa fa-bar-chart fa-fw"></i> Wyniki</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper" th:include="${'view/' + view} :: body">
        <h1 class="page-header">Main</h1>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap Core JavaScript -->
<script src="/template/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/template/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/template/dist/js/sb-admin-2.js"></script>

</body>

</html>