<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Wybory</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Szczegóły wyborów
            </div>
            <div th:if="${!exists}" class="panel-body">
                <div class="alert alert-danger">
                    Wybrane wybory nie istnieją.
                </div>
                <a th:href="@{/wybory}" class="btn btn-default">Przeglądaj wybory</a>
            </div>
            <div th:if="${exists and wybory.typWyborow.nazwa == 'PARLAMENTARNE'}" class="panel-body">
                <div th:if="${success != null and success}" class="alert alert-success">
                    Zmiany zostały zapisane.
                </div>
                <div th:if="${error != null}" th:text="${error}" class="alert alert-danger">
                    Błąd.
                </div>
                <h4>Edycja komitetów <b>#<span th:text="${wybory.id}"></span> <span th:text="${wybory.dataGlosowania}"></span></b></h4>
                <p>Aby edytować listę kandydatów w komitecie naciśnij na przycisk <i class="fa fa-list"></i> obok wybranego komitetu.</p>
                <p>Lista komitetów:</p>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nazwa</th>
                            <th>Operacje</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="komitet,status : ${wybory.komitety}">
                            <td th:text="${status.count}"></td>
                            <td th:text="${komitet.nazwa}"></td>
                            <td><a th:href="@{/wybory/szczegoly/komitety/poslowie(idWybory=${wybory.id}, idKomitet=${komitet.nr})}" class="btn btn-outline btn-primary" title="Lista kandydatów"><i class="fa fa-list"></i></a>  <a th:href="@{/wybory/szczegoly/komitety/edycja(idWybory=${wybory.id}, idKomitet=${komitet.nr})}" class="btn btn-outline btn-primary" title="Edytuj"><i class="fa fa-pencil"></i></a>  <a th:href="@{/wybory/szczegoly/komitety/usun(idWybory=${wybory.id}, idKomitet=${komitet.nr})}" class="btn btn-outline btn-danger" title="Usuń"><i class="fa fa-minus-circle"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a th:href="@{/wybory/szczegoly/komitety/dodaj(idWybory=${wybory.id})}" type="submit" class="btn btn-success">Dodaj komitet</a>
            </div>
            <div th:if="${exists and wybory.typWyborow.nazwa == 'PREZYDENCKIE'}" class="panel-body">
                <div th:if="${success != null and success}" class="alert alert-success">
                    Zmiany zostały zapisane.
                </div>
                <div th:if="${error != null}" th:text="${error}" class="alert alert-danger">
                    Błąd.
                </div>
                <h4>Edycja wyborów prezydenckich <b>#<span th:text="${wybory.id}"></span> <span th:text="${wybory.dataGlosowania}"></span></b></h4>
                <p>Lista kandydatów w wyborach:</p>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>Płeć</th>
                            <th>Zawód</th>
                            <th>Miejsce zamieszkania</th>
                            <th>Partia</th>
                            <th>Operacje</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="kandydat,status : ${wybory.kandydaciPrezydent}">
                            <td th:text="${kandydat.nrNaLiscie}"></td>
                            <td th:text="${kandydat.imie}"></td>
                            <td th:text="${kandydat.nazwisko}"></td>
                            <td th:text="${kandydat.plec}"></td>
                            <td th:text="${kandydat.zawod}"></td>
                            <td th:text="${kandydat.miejsceZamieszkania}"></td>
                            <td th:text="${kandydat.partia}"></td>
                            <td><a th:href="@{/wybory/szczegoly/prezydenckie/edycja(idWybory=${wybory.id}, idKandydatPrezydent=${kandydat.id})}" class="btn btn-outline btn-primary" title="Edytuj"><i class="fa fa-pencil"></i></a>  <a th:href="@{/wybory/szczegoly/prezydenckie/usun(idWybory=${wybory.id}, idKandydatPrezydent=${kandydat.id})}" class="btn btn-outline btn-danger" title="Usuń"><i class="fa fa-minus-circle"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a th:href="@{/wybory/szczegoly/prezydenckie/dodaj(idWybory=${wybory.id})}" type="submit" class="btn btn-success">Dodaj kandydata</a>
            </div>
            <div th:if="${exists and wybory.typWyborow.nazwa == 'REFERENDUM'}" class="panel-body">
                <div th:if="${success != null and success}" class="alert alert-success">
                    Zmiany zostały zapisane.
                </div>
                <div th:if="${error != null}" th:text="${error}" class="alert alert-danger">
                    Błąd.
                </div>
                <h4>Edycja referendum <b>#<span th:text="${wybory.id}"></span> <span th:text="${wybory.dataGlosowania}"></span></b></h4>
                <p>Lista pytań w referendum:</p>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Pytanie</th>
                            <th>Operacje</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pytanie,status : ${wybory.pytaniaReferendalne}">
                            <td th:text="${status.count}"></td>
                            <td th:text="${pytanie.pytanie}"></td>
                            <td><a th:href="@{/wybory/szczegoly/referendum/edycja(idWybory=${wybory.id}, idPytanieReferendalne=${pytanie.id})}" class="btn btn-outline btn-primary" title="Edytuj"><i class="fa fa-pencil"></i></a>  <a th:href="@{/wybory/szczegoly/referendum/usun(idWybory=${wybory.id}, idPytanieReferendalne=${pytanie.id})}" class="btn btn-outline btn-danger" title="Usuń"><i class="fa fa-minus-circle"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a th:href="@{/wybory/szczegoly/referendum/dodaj(idWybory=${wybory.id})}" type="submit" class="btn btn-success">Dodaj pytanie</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>