<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Użytkownicy</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <form>
                    <div class="form-group" th:classappend="${#fields.hasErrors('login')} ? 'has-error'">
                        <label for="login">Login</label>
                        <input type="text" class="form-control" th:field="*{login}" />
                        <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}" id="login-error" class="help-block">Login Error</span>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('imie')} ? 'has-error'">
                        <label for="imie">Imię</label>
                        <input type="text" class="form-control" th:field="*{imie}" />
                        <span th:if="${#fields.hasErrors('imie')}" th:errors="*{imie}" id="imie-error" class="help-block">Imie Error</span>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('nazwisko')} ? 'has-error'">
                        <label for="nazwisko">Nazwisko</label>
                        <input type="text" class="form-control" th:field="*{nazwisko}" />
                        <span th:if="${#fields.hasErrors('nazwisko')}" th:errors="*{nazwisko}" id="nazwisko-error" class="help-block">Nazwisko Error</span>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" th:field="*{email}" />
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="email-error" class="help-block">Email Error</span>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('haslo')} ? 'has-error'">
                        <label for="haslo">Hasło</label>
                        <input type="hidden" class="form-control" th:field="*{haslo}" />
                        <span th:if="${#fields.hasErrors('haslo')}" th:errors="*{haslo}" id="haslo-error" class="help-block">Haslo Error</span>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('poziomDostepuId')} ? 'has-error'">
                        <label for="poziomDostepuId">Uprawnienia</label>
                        <select class="form-control" id="poziomDostepuId" name="poziomDostepuId">
                            <option value="1" th:selected="${uzytkownik.poziomDostepuId == 1}">Administrator</option>
                            <option value="2" th:selected="${uzytkownik.poziomDostepuId == 2}">Członek OKW</option>
                            <option value="3" th:selected="${uzytkownik.poziomDostepuId == 3}">Członek PKW</option>
                        </select>
                        <span th:if="${#fields.hasErrors('poziomDostepuId')}" th:errors="*{poziomDostepuId}" id="poziomDostepuId-error" class="help-block">PoziomDostepuId Error</span>
                    </div>
                    <button type="submit" class="btn btn-success">Zapisz</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>