<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Użytkownicy</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Usuwanie użytkownika
            </div>
            <div class="panel-body">
                <div th:if="${success}" class="alert alert-success">
                    Usunięto użytkownika.
                </div>
                <div th:if="${!success and !currentUser}" class="alert alert-danger">
                    Wystąpił problem podczas usuwania użytkownika. Prawdopodobnie wybrany użytkownik nie istnieje.
                </div>
                <div th:if="${!success and currentUser}" class="alert alert-danger">
                    Wystąpił problem podczas usuwania użytkownika. Nie możesz usunąć aktualnie zalogowanego użytkownika.
                </div>
                <a th:href="@{/uzytkownik}" class="btn btn-default">Przeglądaj użytkowników</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>