<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Wybory</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                Zaplanuj nowe wybory lub referendum
            </div>
            <div class="panel-body">
                <form th:include="view/wybory/form :: form" th:action="@{/panel/wybory/dodaj}" th:object="${wybory}" method="post">

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>