<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="container">
<h1>Wybory</h1>
<div class="well">
    <h2>Dodaj</h2>
    <form th:action="@{/election/add}" method="post">
        <div class="form-group">
            <label for="electionType">Typ</label>
            <select class="form-control" id="electionType" name="electionType">
                <option value="1">Parlamentarne</option>
                <option value="2">Prezydenckie</option>
                <option value="3">Referendum</option>
            </select>
        </div>
        <div class="form-group">
            <label for="votingDate">Data głosowania</label>
            <input type="date" class="form-control" id="votingDate" name="votingDate" />
        </div>
        <button type="submit" class="btn btn-default">Dodaj</button>
    </form>


</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Typ</th>
        <th>Data głosowania</th>
        <th>Data utworzenia</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="election : ${elections}">
        <td th:text="${election.electionTypeName}"></td>
        <td th:text="${election.formattedVotingDate}"></td>
        <td th:text="${election.formattedCreationDate}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>