<!DOCTYPE html>
<html lan="pl" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Strona główna</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Witamy w systemie wyborczym.</h2>
                <p>Wybierz jedną z opcji po lewej stronie.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>